
.image-section {
  position:relative;
  z-index: 2;
  background-image: url(../images/unsplash.avif);
  background-size: cover;
  flex: 3;
}





.image-title {
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  bottom: 55%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  height: 20%;
  color: white;
  font-family: norse;
  font-size: 50px;
}

.image-title i {
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-credit {
  position: absolute; 
  display: inline-block;
  right: 0;
  left: 0;
  bottom: 10px;
  text-align: center;

  color: white;
  font-weight: 100;
  font-family: roboto;
  font-size: 10px;

}

.image-credit em {
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s;
}

.image-credit em:hover {
  opacity: 0.85;
}




